doctype html
html(lang='en')
  head
    title TigerHacks
    link(rel='icon' href='/tiger_small.png')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/css/mdb.min.css')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    script(src='https://use.fontawesome.com/2dcf4e58a9.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.10/js/mdb.min.js')

    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')

    style.
      table {
        margin: auto;
      }
  body(style='padding-top: 60px;')
    nav.navbar.navbar-expand-md.navbar-light.bg-light.fixed-top
      a.navbar-brand(href='#') TigerHacks Admin
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarContent')
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarContent
        .nav.nav-pills(role='tablist')
          a.nav-item.nav-link.active(data-toggle='pill' href='#overview' role='tab') Overview
          a.nav-item.nav-link(data-toggle='pill' href='#participants' role='tab') Participants
          a.nav-item.nav-link.disabled(data-toggle='pill' href='#faq' role='tab') FAQ
          a.nav-item.nav-link.disabled(data-toggle='pill' href='#schedule' role='tab') Schedule
          a.nav-item.nav-link.disabled(data-toggle='pill' href='#prizes' role='tab') Prizes
          a.nav-item.nav-link.disabled(data-toggle='pill' href='#sponsors' role='tab') Sponsors
    .tab-content
      #overview.tab-pane.fade.show.active(role='tabpanel')
        .container
          h3= participants.length + ' people signed up'
          .row
            .canvas.col.col-12.col-md-4
              canvas#gradYearChart
            .canvas.col.col-12.col-md-4
              canvas#shirtSizeChart
            .canvas.col.col-12.col-md-4
              canvas#dietaryChart
      #participants.tab-pane.fade(role='tabpanel')
        a.btn(href='participants.csv') Export
        center
          table.table.table-striped.table-responsive.table-sm
            thead
              tr
                th(scole='col') #
                th(scope='col') Name
                th(scope='col') Email
                th(scope='col') School
                th(scope='col') Major
                th(scope='col') Graduation year
                th(scope='col') Shirt Size
                th(scope='col') Dietary restrictions
                th(scope='col') Notes
                th(scope='col') Resume
                th(scope='col') Need reimbursement
            tbody
              each participant, index in participants
                tr
                  td= index + 1
                  td= participant.name
                  td= participant.email
                  td= participant.school
                  td= participant.major
                  td= participant.graduation_year
                  td= participant.shirt_size
                  td= participant.dietary_restrictions.length == 0 ? 'None' : participant.dietary_restrictions
                  td
                    a(role='button' data-toggle='popover' data-placement='bottom' data-container='body' data-content=participant.notes data-trigger='focus' tabindex='0') View
                  td
                    a(href=participant.resume target='_blank') Download
                  td= participant.reimbursement ? 'Yes' : 'No'
      #faq.tab-pane.fade(role='tabpanel')
        h1 Coming soon
      #schedule.tab-pane.fade(role='tabpanel')
        each date in Object.keys(schedule)
          h3= date
          each event in schedule[date]
            .card
              .card-body
                input.form-control(type='text' placeholder='Event name' value=event.title name='title')
                input.form-control(type='text' placeholder='Location' value=event.location name='location')
                input.form-control(type='time')
      #prizes.tab-pane.fade(role='tabpanel')
        h1 Prizes
      #sponsors.tab-pane.fade(role='tabpanel')
        h1 Sponsors
    script(type='text/javascript').
      $(document).ready(() => {
        $('.save').click((eventObj) => {
          eventObj.preventDefault();
          console.log($(eventObj.target));
          console.log(this);
          console.log(this.data('event'));
          console.log(event);
          let title = $(`#title[data-event="${event}"]`).val();
          let location = $(`#location[data-event="${event}"]`).val();
          let time = $(`#time[data-event="${event}"]`).val();
          let description = $(`#description[data-event="${event}"]`).val();
          console.log({
            title: title,
            location: location,
            time: time,
            description: description
          });
        });
        let participants =!{JSON.stringify(participants)};
        let gradYears = [0,0,0,0,0,0,0];
        participants.forEach((participant) => {
          let year = parseInt(participant.graduation_year, 10) - 2018;
          gradYears[year] += 1;
        });
        var gradYearCanvas = document.getElementById('gradYearChart').getContext('2d');
        var gradYearChart = new Chart(gradYearCanvas, {
          type: 'bar',
          data: {
            labels: ['2018', '2019', '2020', '2021', '2022', '2023', '2024'],
            datasets: [{
              data: gradYears,
              label: 'Graduation Years'
            }]
          },
          options: {
            responsive: true
          }
        });
        let shirtSizes = [0,0,0,0,0,0];
        let sizes = ['XS', 'S', 'M', 'L', 'XL', 'XXL'];
        participants.forEach((participant) => {
          shirtSizes[sizes.indexOf(participant.shirt_size)] += 1;
        });
        var shirtSizeCanvas = document.getElementById('shirtSizeChart').getContext('2d');
        var shirtSizeChart = new Chart(shirtSizeCanvas, {
          type: 'bar',
          data: {
            labels: sizes,
            datasets: [{
              data: shirtSizes,
              label: 'Shirt Sizes'
            }]
          },
          options: {
            responsive: true
          }
        });
      });