doctype html
html
  head
    title TigerHacks
    link(rel='icon', href='/tiger_small.png')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js')
    script(src='https://use.fontawesome.com/2dcf4e58a9.js')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css')
    script(src='https://www.gstatic.com/firebasejs/6.5.0/firebase-app.js')
    script(src='https://www.gstatic.com/firebasejs/6.5.0/firebase-auth.js')
    script(src='https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js')
  body
    #bg
    #landing.z-depth-5
      img#logo(src='/tiger_big.png')
      h2(style='color: #F89939') tiger
      h2 hacks
      h5= info.tigerhacks.dates
      button#register.btn-large Registration & Info
      br
      .row
        a(href='mailto:muengrtigerhacks@missouri.edu', target='_blank')
          i.fa.fa-3x.fa-envelope-square(aria-hidden='true')
        a(href='https://twitter.com/tigerhackshd', target='_blank')
          i.fa.fa-3x.fa-twitter-square(aria-hidden='true')
        a(href='http://facebook.com/tigerhacks', target='_blank')
          i.fa.fa-3x.fa-facebook-square(aria-hidden='true')
        a(href='https://instagram.com/tigerhacks', target='_blank')
          i.fa.fa-3x.fa-instagram(aria-hidden='true')
    #content
      i#close.material-icons close
      .content
        #tab-register.container
          .row
            if user
              .col.s12.m4
                h2 Profile
                h3.center TigerPass
                img(style='width: 100%' src=user.id alt='TigerPass')
                center
                  button#signout.btn-large Sign Out
              .col.s12.m8
                h2= user.registered ? 'Update Info' : 'Register'
                form(action='/register' enctype='multipart/form-data' method='POST')
                  .row
                    .col.s12
                      .row
                        .input-field.col.s12.m6
                          input.validate(name='name' placeholder='' type='text' id='name' required value= user.info.name ? user.info.name : '')
                          label(for='first_name') Full name
                          span.helper-text(data-error='This field is required' data-success='')
                        .input-field.col.s12.m6
                          input.validate(name='email' placeholder='' type='email' id='email' required pattern='^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.+-]+\.[a-zA-Z]+$' value= user.info.email ? user.info.email : '')
                          label(for='email') Email
                          span.helper-text(data-error='Please enter a valid email' data-success='')
                      .row
                        .input-field.col.s12.m6
                          input.validate.autocomplete(name='school' placeholder='' type='text' id='school' required value= user.info.school ? user.info.school : '')
                          label(for='school') School
                          span.helper-text(data-error='Please enter your school or university' data-success='')
                        .input-field.col.s12.m6
                          input.validate(name='major' placeholder='' type='text' id='major' required value= user.info.major ? user.info.major : '')
                          label(for='major') Major
                          span.helper-text(data-error='This field is required' data-success='')
                      .row
                        .input-field.col.s12.m6
                          select(name='graduation_year' required)
                            option(value='2018' selected= user.info.graduation_year == '2018') 2018
                            option(value='2019' selected= user.info.graduation_year == '2019') 2019
                            option(value='2020' selected= user.info.graduation_year == '2020') 2020
                            option(value='2021' selected= user.info.graduation_year == '2021') 2021
                            option(value='2022' selected= user.info.graduation_year == '2022') 2022
                            option(value='2023' selected= user.info.graduation_year == '2023') 2023
                            option(value='2024' selected= user.info.graduation_year == '2024') 2024
                          label Graduation year
                        .input-field.col.s12.m6
                          select(name='shirt_size' required)
                            option(value='XS' selected= user.info.shirt_size == 'XS') XS
                            option(value='S' selected= user.info.shirt_size == 'S') S
                            option(value='M' selected= user.info.shirt_size == 'M') M
                            option(value='L' selected= user.info.shirt_size == 'L') L
                            option(value='XL' selected= user.info.shirt_size == 'XL') XL
                            option(value='XXL' selected= user.info.shirt_size == 'XXL') XXL
                          label Shirt size
                      .row
                        .input-field.col.s12.m6
                          select(name='dietary_restrictions' multiple)
                            option(value='Vegetarian' selected= user.info.dietary_restrictions && user.info.dietary_restrictions.includes('Vegetarian')) Vegetarian
                            option(value='Kosher' selected= user.info.dietary_restrictions && user.info.dietary_restrictions.includes('Kosher')) Kosher
                            option(value='Halal' selected= user.info.dietary_restrictions && user.info.dietary_restrictions.includes('Halal')) Halal
                            option(value='Vegan' selected= user.info.dietary_restrictions && user.info.dietary_restrictions.includes('Vegan')) Vegan
                            option(value='Gluten Free' selected= user.info.dietary_restrictions && user.info.dietary_restrictions.includes('Gluten Free')) Gluten Free
                            option(value='Allergy' selected= user.info.dietary_restrictions && user.info.dietary_restrictions.includes('Allergy')) Allergy (please specify in notes)
                            option(value='Other' selected= user.info.dietary_restrictions && user.info.dietary_restrictions.includes('Other')) Other (please specify in notes)
                          label Dietary restrictions
                        .input-field.col.s12.m6
                          input(name='notes' type='text' id='notes' value= user.info.notes ? user.info.notes : '')
                          label(for='notes') Notes
                      .row
                        .file-field.input-field.col.s12.m6
                          .btn.btn-large
                            span Upload resume
                            input(name='resume' type='file' accept='.pdf' required=!user.registered)
                          .file-path-wrapper
                            input.file-path.validate(type='text')
                        .input-field.col.s12.m6
                          p
                            label
                              input(name='reimbursement' type='checkbox' checked=user.info.reimbursement)
                              span Will you need travel reimbursement?
                      if !user.registered
                        .row
                          .input-field.col.s12.m6
                            p
                              label
                                input(name='mlh_terms' type='checkbox' required)
                                span I have read and agree to the #[a(href='https://static.mlh.io/docs/mlh-code-of-conduct.pdf') MLH Code of Conduct]
                                  |, the #[a(href='https://github.com/MLH/mlh-policies/blob/master/prize-terms-and-conditions/contest-terms.md') MLH Contest Terms and Conditions]
                                  |, and the #[a(href='https://mlh.io/privacy') MLH Privacy Policy]
                          .input-field.col.s12.m6
                            p
                              label
                                input(name='th_terms' type='checkbox' required)
                                span I authorize you to share my application/registration information for event administration, ranking, MLH administration, 
                                  |pre- and post-event informational e-mails, and occasional messages about hackathons in-line with the MLH Privacy Policy.
                      .row
                        .col.s12
                          button.btn.btn-large.right(type='submit')= user.registered ? 'Update Info' : 'Register'
            else
              h2 Sign in to register
              #auth-ui-container
        #tab-about.container
          h2 About TigerHacks
          .row
            .col.s12.m4
              h5 What is TigerHacks?
              p= info.tigerhacks.about
            .col.s12.m4
              h5 What is a hackathon?
              p= info.tigerhacks.hackathon
            .col.s12.m4
              h5 Theme
              p= info.tigerhacks.theme
        #tab-prizes.container
          h2 Prizes
          if prizes && prizes.length != 0
            table
              thead
                tr
                  th Category
                  th.right Prize
              tbody
                each prize in prizes
                  tr
                    td= prize.title
                    td.right= prize.reward
          else
            h4 Prizes coming soon
        #tab-schedule.container
          h2 Schedule
          .row
            each date in Object.keys(schedule)
              div(class='col s12 m' + (12/Object.keys(schedule).length))
                h5= date
                each event in schedule[date]
                  .row
                    .col.s12
                      .card.schedule
                        .card-content
                          p= event.time.toDate().toLocaleTimeString('en-US', {timeZone: 'America/Chicago', hour: 'numeric', minute: 'numeric'}) + (event.location && event.location != '' ? ' @ ' + event.location : '')
                          span.card-title.activator= event.title
                        if event.description && event.description != ''
                          .card-reveal
                            p= event.time.toDate().toLocaleTimeString('en-US', {timeZone: 'America/Chicago', hour: 'numeric', minute: 'numeric'}) + (event.location && event.location != '' ? ' @ ' + event.location : '')
                            span.card-title= event.title
                            p= event.description
        #tab-sponsors.container
          h2 Sponsors
          .row
            if sponsors && Object.keys(sponsors).length != 0
              each level in Object.keys(sponsors)
                .col.s12
                  h4.sponsor-header= level
                  .row
                    each sponsor in sponsors[level]
                      div(class='col s12 m' + Math.max(3, 12/sponsors[level].length))
                        .card
                          .card-image.waves-effect.waves-block.waves-light
                            a.modal-trigger(href='#' + sponsor.name)
                              img(src=sponsor.image)
                        .modal(id=sponsor.name)
                          .modal-content
                            h4= sponsor.name
                              i.right.material-icons.modal-close close
                            p= sponsor.description
                          .modal-footer
                            a.btn-flat.waves-effect.waves-dark(href=sponsor.website target='_blank') Website

            else
              h3 Our sponsors aren&apos;t finalized for 2019, check back soon!
            center
              a.waves-effect.waves-light.btn-large(href='mailto:tigerhackshd@gmail.com' target='_blank') Sponsor us!
      ul.tabs
        li.tab.col.s2
          a.tablink.active(href='#tab-register')
            i.material-icons.tab-icon person
            span.tab-title= user ? 'Profile' : 'Register'
        li.tab.col.s2
          a.tablink(href='#tab-about')
            i.material-icons.tab-icon info
            span.tab-title About
        li.tab.col.s2
          a.tablink(href='#tab-prizes')
            i.material-icons.tab-icon redeem
            span.tab-title Prizes
        li.tab.col.s3
          a.tablink(href='#tab-schedule')
            i.material-icons.tab-icon event
            span.tab-title Schedule
        li.tab.col.s3
          a.tablink(href='#tab-sponsors')
            i.material-icons.tab-icon star
            span.tab-title Sponsors
    a#mlh-trust-badge(style='display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:2' href='https://mlh.io/seasons/na-2020/events?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2020-season&utm_content=gray' target='_blank')
      img(src='https://s3.amazonaws.com/logged-assets/trust-badge/2020/mlh-trust-badge-2020-gray.svg' alt='Major League Hacking 2020 Hackathon Season' style='width:100%')
    script(type='text/javascript').
      $(document).ready(() => {
        if (window.localStorage.getItem('open')) {
          $('#content').addClass('open');
          $('.modal').modal();
          window.localStorage.removeItem('open');
        }
        $('#register').click(() => {
          $('#content').addClass('open');
          $('.modal').modal();
        });
        $('#close').click(() => {
          $('#content').removeClass('open');
        });
        $('#bg').click(() => {
          $('#content').removeClass('open');
        });
        $('.tabs').tabs();
        $('select').formSelect();
        $('form').submit(() => {
          window.localStorage.setItem('open', true);
        });
        var firebaseConfig = {
          apiKey: "AIzaSyCvg7KHlezxRSZgTqjAiY17b5PemBY6a1o",
          authDomain: "tigerhacks.firebaseapp.com",
          databaseURL: "https://tigerhacks.firebaseio.com",
          projectId: "tigerhacks",
          storageBucket: "tigerhacks.appspot.com",
          messagingSenderId: "177120544304",
          appId: "1:177120544304:web:d1aa2fe0625e567a"
        };
        firebase.initializeApp(firebaseConfig);
        var ui = new firebaseui.auth.AuthUI(firebase.auth());
        ui.start('#auth-ui-container', {
          signInOptions: [
            firebase.auth.EmailAuthProvider.PROVIDER_ID,
            firebase.auth.GithubAuthProvider.PROVIDER_ID
          ],
          signInFlow: 'popup',
          credentialHelper: firebaseui.auth.CredentialHelper.NONE,
          callbacks: {
            signInSuccessWithAuthResult: (authResult) => {
              authResult.user.getIdToken().then(idToken => {
                $.post('/setSession', {idToken: idToken})
                  .done(() => {
                    window.localStorage.setItem('open', true);
                    window.location.reload();
                  });
              });
              return false;
            }
          }
        });
        $('#signout').click(() => {
          window.localStorage.setItem('open', true);
          $.cookie('__session', null, { path: '/' });
          window.location.reload();
        });
      });