doctype html
html
  head
    title TigerHacks
    link(rel='icon', href='/tiger_small.png')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    script(src='/bootstrap-filestyle.min.js')
    script(src='https://use.fontawesome.com/2dcf4e58a9.js')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/style-dev.css')
    link(rel='stylesheet', href='https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css')
    script(src='https://www.gstatic.com/firebasejs/6.5.0/firebase-app.js')
    script(src='https://www.gstatic.com/firebasejs/6.5.0/firebase-auth.js')
    script(src='https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js')
  body
    #bg
    #landing.z-depth-5
      img#logo(src='/tiger_big.png')
      h1.title(style='color: #F89939') tiger
      h1.title hacks
      h5= info.tigerhacks.dates
      button.btn.btn-lg(data-toggle='modal' data-target='#content-modal') Registration & Info
      br
      .row
        .center
          a(href='mailto:muengrtigerhacks@missouri.edu', target='_blank')
            i.fa.fa-2x.fa-envelope-square(aria-hidden='true')
          a(href='https://twitter.com/tigerhackshd', target='_blank')
            i.fa.fa-2x.fa-twitter-square(aria-hidden='true')
          a(href='http://facebook.com/tigerhacks', target='_blank')
            i.fa.fa-2x.fa-facebook-square(aria-hidden='true')
          a(href='https://instagram.com/tigerhacks', target='_blank')
            i.fa.fa-2x.fa-instagram(aria-hidden='true')
    #content-modal.modal.fade(tabindex='-1' role='dialog')
      .modal-dialog.modal-dialog-scrollable.modal-dialog-centered.modal-xl(role='document')
        .modal-content
          .modal-body
            .tab-content
              #profile.container.tab-pane.fade.show.active(role='tabpanel')
                .row
                  if user
                    .col.col-12.col-md-4
                      h1 Profile
                      h3.center TigerPass
                      img(style='width: 100%' src=user.id alt='TigerPass')
                      center
                        button#signout.btn.btn-lg Sign Out
                        br
                        if user.info.admin
                          a.btn.btn-lg(href='admin') Admin
                    .col.col-12.col-md-8
                      h1= user.registered ? 'Update Info' : 'Register'
                      form(action='/register' enctype='multipart/form-data' method='POST')
                        .row
                          .col.col-12
                            .row
                              .form-group.col.col-12.col-md-6
                                input.form-control.validate(name='name' placeholder='' type='text' id='name' required value= user.info.name ? user.info.name : '')
                                label.form-text.text-muted(for='first_name') Full name
                              .form-group.col.col-12.col-md-6
                                input.form-control.validate(name='email' placeholder='' type='email' id='email' required pattern='^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.+-]+\.[a-zA-Z]+$' value= user.info.email ? user.info.email : '')
                                label.form-text.text-muted(for='email') Email
                            .row
                              .form-group.col.col-12.col-md-6
                                input.form-control.validate(name='school' placeholder='' type='text' id='school' required value= user.info.school ? user.info.school : '')
                                label.form-text.text-muted(for='school') School
                              .form-group.col.col-12.col-md-6
                                input.form-control.validate(name='major' placeholder='' type='text' id='major' required value= user.info.major ? user.info.major : '')
                                label.form-text.text-muted(for='major') Major
                            .row
                              .form-group.col.col-12.col-md-6
                                select.form-control(name='graduation_year' required)
                                  option(value='2018' selected= user.info.graduation_year == '2018') 2018
                                  option(value='2019' selected= user.info.graduation_year == '2019') 2019
                                  option(value='2020' selected= user.info.graduation_year == '2020') 2020
                                  option(value='2021' selected= user.info.graduation_year == '2021') 2021
                                  option(value='2022' selected= user.info.graduation_year == '2022') 2022
                                  option(value='2023' selected= user.info.graduation_year == '2023') 2023
                                  option(value='2024' selected= user.info.graduation_year == '2024') 2024
                                label.form-text.text-muted Graduation year
                              .form-group.col.col-12.col-md-6
                                select.form-control(name='shirt_size' required)
                                  option(value='XS' selected= user.info.shirt_size == 'XS') XS
                                  option(value='S' selected= user.info.shirt_size == 'S') S
                                  option(value='M' selected= user.info.shirt_size == 'M') M
                                  option(value='L' selected= user.info.shirt_size == 'L') L
                                  option(value='XL' selected= user.info.shirt_size == 'XL') XL
                                  option(value='XXL' selected= user.info.shirt_size == 'XXL') XXL
                                label.form-text.text-muted Shirt size
                            .row
                              .form-group.col.col-12.col-md-6
                                select.form-control(name='dietary_restrictions' multiple)
                                  option(value='Vegetarian' selected= user.info.dietary_restrictions && user.info.dietary_restrictions.includes('Vegetarian')) Vegetarian
                                  option(value='Kosher' selected= user.info.dietary_restrictions && user.info.dietary_restrictions.includes('Kosher')) Kosher
                                  option(value='Halal' selected= user.info.dietary_restrictions && user.info.dietary_restrictions.includes('Halal')) Halal
                                  option(value='Vegan' selected= user.info.dietary_restrictions && user.info.dietary_restrictions.includes('Vegan')) Vegan
                                  option(value='Gluten Free' selected= user.info.dietary_restrictions && user.info.dietary_restrictions.includes('Gluten Free')) Gluten Free
                                  option(value='Allergy' selected= user.info.dietary_restrictions && user.info.dietary_restrictions.includes('Allergy')) Allergy (please specify in notes)
                                  option(value='Other' selected= user.info.dietary_restrictions && user.info.dietary_restrictions.includes('Other')) Other (please specify in notes)
                                label.form-text.text-muted Dietary restrictions
                              .form-group.col.col-12.col-md-6
                                input.form-control.validate(name='notes' type='text' id='notes' value= user.info.notes ? user.info.notes : '')
                                label.form-text.text-muted(for='notes') Notes
                            .row
                              .form-group.col.col-12.col-md-6
                                input.filestyle(type='file' name='resume' accept='.pdf' required=!user.registered data-btnClass='btn-lg' data-text='Upload resume' data-input='false' data-badge='true')
                                // button.btn.btn-lg
                                //   input(type='file' name='resume' accept='.pdf' required=!user.registered)
                                //   span Upload resume
                              .form-group.form-check.col.col-12.col-md-6
                                input#reimbursement.form-check-input(name='reimbursement' type='checkbox' checked=user.info.reimbursement)
                                label.form-check-label(for='reimbursement') Will you need travel reimbursement?
                              if !user.registered
                                .form-group.form-check.col.col-12.col-md-6
                                  input#mlh_terms.form-check-input(name='mlh_terms' type='checkbox' required)
                                  label.form-check-label(for='mlh_terms') I have read and agree to the #[a(href='https://static.mlh.io/docs/mlh-code-of-conduct.pdf') MLH Code of Conduct]
                                    |, the #[a(href='https://github.com/MLH/mlh-policies/blob/master/prize-terms-and-conditions/contest-terms.md') MLH Contest Terms and Conditions]
                                    |, and the #[a(href='https://mlh.io/privacy') MLH Privacy Policy]
                                .form-group.form-check.col.col-12.col-md-6
                                  input#th_terms.form-check-input(name='th_terms' type='checkbox' required)
                                  label.form-check-label(for='th_terms') I authorize you to share my application/registration information for event administration, ranking, MLH administration, 
                                    |pre- and post-event informational e-mails, and occasional messages about hackathons in-line with the MLH Privacy Policy.
                            .row
                              .col.col-12
                                button.btn.btn-lg.right(type='submit')= user.registered ? 'Update Info' : 'Register'
                  else
                    .center
                      h1 Sign in to register
                      #auth-ui-container
              #about.container.tab-pane.fade(role='tabpanel')
                h1 TigerHacks FAQ
                each category in Object.keys(info.tigerhacks.faq)
                  h4= category
                  .accordion#faq-collapse
                    each faq, index in info.tigerhacks.faq[category]
                      .card.faq
                        h2.card-header
                          button.btn.btn-link(type='button' data-toggle='collapse' data-target='#' + category + '_' + index)= faq.question
                        .collapse(id=category + '_' + index data-parent='#faq-collapse')
                          .card-body= faq.answer
              #prizes.container.tab-pane.fade(role='tabpanel')
                h1.center Prizes
                if prizes && prizes.length != 0
                  each category in Object.keys(prizes)
                    h3.center= category
                    .row
                      each prize in prizes[category]
                        div(class='center col col-12 col-md-' + (12/prizes[category].length))
                          h5= prize.title
                          p= prize.reward
                          if prize.sponsor
                            p= 'Sponsored by ' + sponsor
                    hr
                else
                  h4 Prizes coming soon
              #schedule.container.tab-pane.fade(role='tabpanel')
                h1 Schedule
                .row
                  each date in Object.keys(schedule)
                    div(class='col col-12 col-md-' + (12/Object.keys(schedule).length))
                      h3= date
                      each event, index in schedule[date]
                        .row
                          .col.col-12
                            .card.schedule
                              .card-body
                                p.card-text= event.time.toDate().toLocaleTimeString('en-US', {timeZone: 'America/Chicago', hour: 'numeric', minute: 'numeric'}) + (event.location && event.location != '' ? ' @ ' + event.location : '')
                                h4.card-title= event.title
              #sponsors.container.tab-pane.fade(role='tabpanel')
                h1 Sponsors
                  if sponsors && Object.keys(sponsors).length != 0
                    each level in Object.keys(sponsors)
                      if sponsors[level].length != 0
                        h3.sponsor-header= level
                        .card-deck
                          each sponsor in sponsors[level]
                            .card.sponsor
                              a(href=sponsor.website target='_blank')
                                img.card-img-top(src=sponsor.image alt=sponsor.name)
                              .card-body
                                p.card-text= sponsor.description
                  else
                    h3 Our sponsors aren&apos;t finalized for 2019, check back soon!
                  center
                    a.btn.btn-lg(href='mailto:tigerhackshd@gmail.com' target='_blank' style='margin-top: 30px;') Sponsor us!
          .modal-footer
            ul.nav.nav-pills(role='tablist')
              li.nav-item
                a.nav-link.active(data-toggle='pill' href='#profile' aria-selected='true' id='tab-register' role='tab')
                  i.material-icons.tab-icon person
                  span.tab-title= user ? 'Profile' : 'Register'
              li.nav-item
                a.nav-link(data-toggle='pill' href='#about' aria-selected='false' id='tab-about' role='tab')
                  i.material-icons.tab-icon info
                  span.tab-title FAQ
              li.nav-item
                a.nav-link(data-toggle='pill' href='#prizes' aria-selected='false' id='tab-prizes' role='tab')
                  i.material-icons.tab-icon redeem
                  span.tab-title Prizes
              li.nav-item
                a.nav-link(data-toggle='pill' href='#schedule' aria-selected='false' id='tab-schedule' role='tab')
                  i.material-icons.tab-icon event
                  span.tab-title Schedule
              li.nav-item
                a.nav-link(data-toggle='pill' href='#sponsors' aria-selected='false' id='tab-sponsors' role='tab')
                  i.material-icons.tab-icon star
                  span.tab-title Sponsors
          i.material-icons.closer(role='button' data-dismiss='modal') close
    a#mlh-trust-badge(style='display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:2' href='https://mlh.io/seasons/na-2020/events?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2020-season&utm_content=gray' target='_blank')
      img(src='https://s3.amazonaws.com/logged-assets/trust-badge/2020/mlh-trust-badge-2020-gray.svg' alt='Major League Hacking 2020 Hackathon Season' style='width:100%')
    script(type='text/javascript').
      $(document).ready(() => {
        if (window.localStorage.getItem('open')) {
          $('.modal').modal();
          window.localStorage.removeItem('open');
        }
        $('form').submit(() => {
          window.localStorage.setItem('open', true);
        });
        var firebaseConfig = {
          apiKey: "AIzaSyCvg7KHlezxRSZgTqjAiY17b5PemBY6a1o",
          authDomain: "tigerhacks.firebaseapp.com",
          databaseURL: "https://tigerhacks.firebaseio.com",
          projectId: "tigerhacks",
          storageBucket: "tigerhacks.appspot.com",
          messagingSenderId: "177120544304",
          appId: "1:177120544304:web:d1aa2fe0625e567a"
        };
        firebase.initializeApp(firebaseConfig);
        var ui = new firebaseui.auth.AuthUI(firebase.auth());
        ui.start('#auth-ui-container', {
          signInOptions: [
            firebase.auth.EmailAuthProvider.PROVIDER_ID,
            firebase.auth.GithubAuthProvider.PROVIDER_ID,
            firebase.auth.GoogleAuthProvider.PROVIDER_ID
          ],
          signInFlow: 'popup',
          credentialHelper: firebaseui.auth.CredentialHelper.NONE,
          callbacks: {
            signInSuccessWithAuthResult: (authResult) => {
              authResult.user.getIdToken().then(idToken => {
                $.post('/setSession', {idToken: idToken})
                  .done(() => {
                    window.localStorage.setItem('open', true);
                    window.location.reload();
                  });
              });
              return false;
            }
          }
        });
        $('#signout').click(() => {
          window.localStorage.setItem('open', true);
          $.cookie('__session', null, { path: '/' });
          window.location.reload();
        });
        // $('.modal').modal();
        // $('.tabs').tabs();
        // $('select').formSelect();
        // $('.collapsible').collapsible();
      });